html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #252525;

}


.container{
	margin-top: 20px;
	width: 100%;
	height: 600px;
	display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    flex-flow: row wrap;

}

.spot{
	background-color: #252525;
	width: 100%;
	height: 100px;
	margin-bottom:50px;
	display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}


.frame img{
	width: 450px;
	height:auto;
	border-radius: 10px;
}

.map{
	background-color: #252525;
	display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
	width: 100%;
	height: 500px;
	margin-bottom: 50px;
}

#map{
	width: 90%;
	border-radius: 10px;
}

.home{
	background-color: red;
	width: 100%;
	height: 300px;
}

 #map {
        height: 100%;
      }


/*@media screen and (max-width: 992px) {
}*/


@media screen and (max-width: 600px) {
 .frame img{
	width: 300px;
	}

	.spot2{
	width: 300px;
	}

	.container{
		margin-top: 50px;
		height: 340px;
	}

}

